.App {
	text-align: center;
	height: 100vh;
	width: 100vw;

	button {
		font-weight: bold;
	}
}

.game-screen {
	position: absolute;
	pointer-events: all;
	height: 100%;
	width: 100%;
	background-image: url('./images/sky_image.jpeg');
	background-repeat: repeat-y;
	height: 100%;
	width: 100%;
}

.flight {
	position: absolute;
	background-image: url('./images/fighterJet.png');
	background-size: cover;
	width: 6%;
	height: 15%;
	top: 85%;
}

.health-bar {
	position: absolute;
	height: 3%;
	width: 15%;
	top: 5%;
	left: calc(50% - 7.5%);
	border: 3px solid black;
	}

.container{
		height: 7vh;
		width: 18vh;
		border: 6px dashed rgba(17,3,11,0.98);
		position: relative;

		.flightDamage{
			height: 99%;
			width: 52%;
			position: absolute;
			top: 1%;
			left: 1%;
		}

		.score{
			font-size: 7vmin;
			bottom: -6%;
			left: 65%;
			position: absolute;
		}
	}
