* {
	overflow: hidden;
}

.App {
	text-align: center;
	height: 100vh;
	width: 100vw;

	.game {
		height: 100%;
	}

	.threeDMode {
		height: 100%;
	}
}

.game-screen {
	// background-image: url('./images/ocean-image.jpg');
	background-repeat: repeat;
	height: 100vh;
	width: 100vw;
	user-select: none;

	.twoDMode {
	display: flex;
	justify-content: space-between;

		.target {
		position: absolute;
		transform: rotate(180deg);
		}
	}
}

.flight {
	position: absolute;
	background-image: url('./images/fighterJet.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 6vw;
	height: 10%;
	bottom: 0%;
}

.health-bar {
		height: 4vmin;
		width: 20vmin;
		border: 3px solid black;
	}

.container{
		width: 20vmin;
		height: 7vmin;
		border: .7vmin dashed firebrick;
		display: flex;
		justify-content: space-around;

		.flightDamage{
			width: 40%;
			height: 85%;
			align-self: center;
		}

		.score{
			font-size: 5vmin;
			font-weight: 600;
			align-self: center;
		}
	}

.game-over-screen{
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    height: 100vh;
    justify-content: center;
}

.game-over{
	font-family: Impact, Charcoal, sans-serif;
	font-size: calc(16px + 2vw);
	color: #000000;
	font-weight: 700;
	padding: 3%;
	text-shadow: 0.2vw 0.2vw 0vw #bcbcbc, 0.4vw 0.4vw 0vw #9c9c9c, 0.8vw 0.8vw 0.8vw rgba(206,89,55,0.05)
}

.game-score{
	font-size: calc(14px + 1.5vw);
	color: #000000;
	font-weight: 70;
	padding: 3%;
}

.restart-button {
	color: rgb(8, 12, 30);
	font-size: calc(16px + 0.5vw);
	padding: 1%;
	border-radius: calc(16px + 1.5vw);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
	box-shadow: black calc(1px + 0.1vw) calc(1px + 0.1vw) calc(11px + 0.5vw) calc(2px + 0.2vw);
	border: 0.2vw solid rgb(28, 110, 164);
}
.bullet {
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
}
.cloud {
	position: absolute;
	background-color: white;
	border-radius: 50%;
	box-shadow: 5px 9px 6px -5px #000000;
}

.ship {
	position: absolute;
	background-color: yellow;
	border-radius: 50%;
}
