.App {
	text-align: center;
	height: 100vh;
	width: 100vw;
}

.game-screen {
	position: absolute;
	pointer-events: all;
	height: 100%;
	width: 100%;
	background-image: url('./images/sky_image.jpeg');
	background-repeat: repeat-y;
	height: 100%;
	width: 100%;
}

.flight {
	position: absolute;
	background-image: url('./images/fighterJet.png');
	background-size: cover;
	width: 6%;
	height: 15%;
	top: 85%;
}

.health-bar {
	position: absolute;
	height: 3%;
	width: 15%;
	top: 5%;
	left: calc(50% - 7.5%);
	border: 3px solid black;
	}

.container{
		height: 7vh;
		width: 18vh;
		border: 6px dashed rgba(17,3,11,0.98);
		position: relative;

		.flightDamage{
			height: 99%;
			width: 52%;
			position: absolute;
			top: 1%;
			left: 1%;
		}

		.score{
			font-size: 7vmin;
			bottom: -6%;
			left: 65%;
			position: absolute;
		}
	}

.game-over-screen{
	position: absolute;
	background-color: red;
	height: 100%;
	width: 100%;

	.game-over{
		font-family: Impact, Charcoal, sans-serif;
		font-size: 50px;
		letter-spacing: -0.2px;
		word-spacing: -0.4px;
		color: #000000;
		font-weight: 700;
		font-style: normal;
		font-variant: normal;
		text-transform: uppercase;
		position: absolute;
		top: 27%;
		left: 39%;
		text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, 2px 2px 2px rgba(206,89,55,0.05)
	}
	.game-score{
		font-family: Impact, Charcoal, sans-serif;
		font-size: 35px;
		color: #000000;
		font-weight: 700;
		font-style: normal;
		font-variant: normal;
		text-transform: uppercase;
		top: 38%;
		left: 44%;
		position: absolute;
	}

	.restart-button {
		font-weight: bold;
		position: absolute;
		top: 49%;
		left: 45%;
		color: rgb(8, 12, 30); 
		font-size: 24px; 
		line-height: 21px; padding: 8px; border-radius: 38px; 
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-weight: normal; 
		font-style: normal; 
		font-variant: normal; 
		background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;
	}
}
